.about-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 16px;
    margin: 100px;
    @media (width < 768px) {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr 0.5fr 1fr;
    }

    @media (width < 480px) {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr;
        margin: 20px;
    }
}

.about-grid-image-cell {
    background-color: #e0e5fc;
    border-radius: 12px;
}

.image {
    object-fit: cover;
    width: 100%;
    border-radius: 12px;
    height: 100%;
}

.about-grid-title-cell {
    display: flex;
    background-color: #e0e5fc;
    border-radius: 12px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 4;

    @media (width < 768px) {
        grid-column: 2 / 4;
    }
    @media (width < 480px) {
        grid-column: 1 / 1;
        max-height: 100px;
    }
}

.about-grid-title {
    font-family: Arial, sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    @media (width < 480px) {
        font-size: 20px;
    }
}

.about-grid-subtitle-cell {
    display: flex;
    padding: 20px;
    background-color: #e0e5fc;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    @media (width < 768px) {
        grid-column: 1 / 2;
    }
    @media (width < 480px) {
        grid-row: 4 / 4;
        grid-column: 1 / 2;
    }
}

.about-grid-subtitle {
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-align: center;
}

.about-grid-content-cell {
    display: flex;
    padding: 20px;
    background-color: #e0e5fc;
    border-radius: 12px;
    justify-content: center;
    align-items: center;

    @media (width < 768px) {
        grid-column: 2 / 4;
    }

    @media (width < 480px) {
        grid-column: 1 / 1;
        grid-row: 5 / 5;
    }
}

.about-grid-content {
    font-family: Arial, sans-serif;
    line-height: 1.6em;
}

.about-grid-button-cell {
    display: flex;
    padding: 20px;
    background-color: #e0e5fc;
    border-radius: 12px;
    justify-content: center;
    align-items: center;

    @media (width < 768px) {
        grid-row: 3 / 4;
        grid-column: 1 / 4;
    }
    @media (width < 480px) {
        grid-row: 3 / 4;
        grid-column: 1 / 1;
    }
}

.about-grid-button {
    font-family: Arial, sans-serif;
    padding: 17px 26px;
    border: 1px solid black;
    border-radius: 30px;
}

.about-grid-button:hover {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}

.about-grid-second-image {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    @media (width < 768px) {
        grid-row: 4 / 4;
        grid-column: 1 / 4;
    }
    @media (width < 480px) {
        grid-row: 6 / 6;
        grid-column: 1 / 1;
    }
    max-height: 160px;
}
