.about {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 16px;
    margin: 50px;
    @media (width < 768px) {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr 0.5fr 1fr;
    }

    @media (width < 480px) {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr;
        margin: 20px;
    }
}

.aboutImageCell {
    background-color: #e0e5fc;
    border-radius: 12px;
}

.aboutImage {
    object-fit: cover;
    width: 100%;
    border-radius: 12px;
    height: 100%;
}

.aboutTitleCell {
    display: flex;
    background-color: #e0e5fc;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 4;

    @media (width < 480px) {
        grid-column: 1 / 1;
        min-height: 100px;
    }
}

.aboutTitle {
    font-size: 60px;
    font-weight: 700;
    text-align: center;

    @media (width < 480px) {
        font-size: 20px;
    }
}

.aboutSubtitleCell {
    display: flex;
    padding: 20px;
    background-color: #e0e5fc;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    @media (width < 768px) {
        grid-column: 1 / 2;
    }
    @media (width < 480px) {
        grid-row: 3;
        grid-column: 1;
    }
}

.aboutSubtitle {
    font-size: 24px;
    text-align: center;
}

.aboutContentCell {
    padding: 20px;
    background-color: #e0e5fc;
    border-radius: 12px;
    justify-content: center;
    align-items: center;

    @media (width < 768px) {
        grid-column: 2 / 4;
    }

    @media (width < 480px) {
        grid-row: 4;
        grid-column: 1;
    }
}

.aboutContent {
    line-height: 1.6em;
}

.aboutButtonCell {
    display: flex;
    padding: 20px;
    background-color: #e0e5fc;
    border-radius: 12px;
    justify-content: center;
    align-items: center;

    @media (width < 768px) {
        grid-row: 3 / 4;
        grid-column: 1 / 4;
    }
    @media (width < 480px) {
        grid-row: 5;
        grid-column: 1;
    }
}

.aboutButton {
    padding: 17px 26px;
    border: 1px solid black;
    border-radius: 30px;
}

.aboutButton:hover {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}

.aboutSecondImageCell {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    max-height: 160px;
    @media (width < 768px) {
        grid-row: 4 / 4;
        grid-column: 1 / 4;
    }
    @media (width < 480px) {
        grid-row: 6;
        grid-column: 1;
    }
}
