.clients {
    padding: 40px;
    row-gap: 32px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.clientsHeader {
    display: flex;
    @media (width <= 768px) {
        flex-direction: column-reverse;
        row-gap: 32px;
    }
}

.clientsContentTexts {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-right: 40px;;
}

.clientsTitle {
    font-weight: 700;
    font-size: 40px;
}

.clientsDescription {
    font-size: 16px;
    line-height: 20px;
}

.clientsImage {
    width: 50%;
    height: min-content;

    @media (width <= 768px) {
        width: 100%;
    }
}

.clientsLogos {
    display: grid;
    justify-content: space-between;
    justify-items: center;
    grid-template-columns: repeat(6, 1fr);

    @media (width < 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (width < 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (width < 480px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.clientsLogoImage {
    height:100%;
    opacity: 0.5;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    padding: 40px;
}
