.heroImage {
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: row;

    @media (width <= 768px) {
        flex-direction: column;
    }
}

.heroImageImg {
    object-fit: cover;
    width: 50%;
    @media (width <= 768px) {
        width: 100%;
    }
}

.heroImageContentBox {
    padding: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.heroImageTitle {
    font-size: 68px;
    @media (width <= 1024px) {
        font-size: 52px;
    }
}

.heroImageDescription {
    font-size: 24px;
    text-wrap: pretty;
    @media (width <= 1024px) {
    }
}

.heroImageExploreButton {
    padding: 16px 24px;
    background-color: black;
    border-radius: 28px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    align-self: flex-start;
    color: white;
    @media (width <= 1024px) {
        font-size: 16px;
    }
}

.heroImageExploreButton:hover {
    background-color: #848484;
    color: white;
}
