.root {
  background: linear-gradient(292deg, #e1e2ff 0%, #ddebff 49.33%, #e3fbf9 98.67%);
  padding: 40px;
  height: auto;
  max-height: 99999px;
  min-height: 100vh;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (width <= 480px) {
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  @media (width <= 455px) {
    padding: 10px;
  }
}

.title {
  font-size: 84px;
  font-weight: 700;
  text-align: center;
  line-height: 88px;

  @media (width <= 455px) {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 48px;
  }
  @media (width <= 430px) {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    line-height: 33px;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-direction: row;
  width: max-content;
  column-gap: 30px;

  @media (width <= 430px) {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    margin-top: 15px;
  }
}

.secondaryButton {
  height: 50px;
  display: flex;
  align-items: center;
  font: normal normal 400 normal 1rem / 1.3 'DM Sans', sans-serif;
  cursor: pointer;
  padding-right: 30px;
  padding-left: 30px;
  border: 1px solid #000000;
  border-radius: 35px;
  z-index: 1;
  &:hover {
    background-color: #000000;
    border: 1px solid #729991;
    color: #ffffff;
  }
  @media (width <= 480px) {
    padding-right: 18px;
    padding-left: 18px;
  }

  @media (width <= 455px) {
    padding-right: 18px;
    padding-left: 18px;
    font-size: 12px;
  }
}

.primaryButton {
  background-color: #000000;
  display: flex;
  align-items: center;
  font: normal normal 400 normal 1rem / 1.3 'DM Sans', sans-serif;
  color: #f5f5f5;
  border-radius: 35px;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #000000;
  z-index: 1;
  cursor: pointer;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  &:hover {
    background: none;
    border: 1px solid #000000;
    color: #000000;
  }

  @media (width <= 480px) {
    padding-right: 18px;
    padding-left: 18px;
  }

  @media (width <=455px) {
    padding-right: 18px;
    padding-left: 18px;
    font-size: 12px;
  }
}
