.root {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.imgBox {
    flex: 1 1 300px;
    /* max-width: 600px; */
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentBox {
    flex: 1 1 300px;
    padding: clamp(15px, 3vw, 30px);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Changed from space-between to center */
    gap: clamp(10px, 2vw, 20px); /* Added gap between elements */
}

.title {
    margin: 0; /* Removed top margin */
    font-size: calc(5rem + ((1vw - 19.2px) * 3.125));
    line-height: 1.2;
}

.description {
    margin: 0;
    font-size: clamp(14px, 2vw, 18px);
    line-height: 1.5;
    text-wrap: pretty;
}

.addToCartButton {
    padding: clamp(8px, 1.5vw, 12px) clamp(15px, 3vw, 25px);
    background-color: #000000;
    border-radius: 30px;
    font-size: clamp(14px, 2vw, 18px);
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-start; /* Aligns the button to the start of the flex container */
    color: #ffffff;
}

.addToCartButton:hover {
    background-color: #848484;
    color: #ffffff;
}
