.heroImage {
    display: flex;

    height: 70%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    flex-direction: row;

    @media (width <= 768px) {
        flex-direction: column;
    }
}

.heroImageImageBox {
    width: 100%;
}

.heroImageImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heroImageContentBox {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.heroImageTitle {
    font-size: 70px;
    @media (width <= 1024px) {
        font-size: 50px;
    }
}

.heroImageDescription {
    font-size: 24px;
    line-height: 1.5;
    text-wrap: pretty;
    @media (width <= 1024px) {
        font-size: 20px;
    }
}

.heroImageExploreButton {
    padding: 16px 24px;
    background-color: #000000;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    align-self: flex-start;
    color: #ffffff;
    @media (width <= 1024px) {
        font-size: 16px;
    }
}

.heroImageExploreButton:hover {
    background-color: #848484;
    color: #ffffff;
}
