.heroTitle {
    min-height: 100vh;
    padding: 60px;
    align-items: center;
    background: linear-gradient(292deg, #e1e2ff 0%, #ddebff 49%, #e3fbf9 98%);
    flex-wrap: wrap;
    align-content: center;
}

.heroTitle__Title {
    margin-bottom: 32px;
    font-size: 120px;
    font-weight: 700;
    text-align: center;
    @media (width < 768px) {
        font-size: 70px;
    }
    @media (width < 480px) {
        font-size: 40px;
    }
}

.heroTitleButtonsContainer {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    @media (width < 768px) {
        align-content: center;
        flex-direction: column;
    }
}

.heroTitlePrimaryButton,
.heroTitleSecondaryButton {
    color: white;
    border: 1px solid black;
    border-radius: 48px;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-start;
    padding: 24px 36px;

    @media (width < 768px) {
        font-size: 26px;
    }
    @media (width < 480px) {
        font-size: 20px;
    }
}

.heroTitlePrimaryButton {
    color: white;
    background: black;
}

.heroTitlePrimaryButton:hover {
    color: black;
    background: transparent;
}

.heroTitleSecondaryButton {
    color: black;
    background: transparent;
}
.heroTitleSecondaryButton:hover {
    color: white;
    background: black;
}
