.heroHorizontal {
  height: auto;
  max-height: 99999px;
  display: flex;
  flex-direction: row;

  @media (width <= 480px) {
    height: auto;
    max-height: 99999px;
    display: flex;
    flex-direction: column;
  }
}

.imageContainer {
  object-fit: fill;
  width: 50%;
  @media (width <= 480px) {
    object-fit: fill;
    height: 50%;
    width: 100%;
  }
}

.pic{
    height: 100%;
}
.content {
  width: 50%;
  align-content: center;
  padding: 3%;
  display: flex;
  flex-direction: column;
  row-gap: 1.3rem;
  justify-content: center;

  @media (width <= 480px) {
    align-content: center;
    padding: 6%;
    display: flex;
    flex-direction: column;
    row-gap: 1.3rem;
    height: 50%;
    width: 100%;
  }
}

.secondaryButtonWidth {
  height: 50px;
  width: fit-content;
  display: flex;
  align-items: center;
  font: normal normal 400 normal 1rem / 1.3 'DM Sans', sans-serif;
  cursor: pointer;
  padding-right: 30px;
  padding-left: 30px;
  border: 1px solid #000000;
  border-radius: 35px;
  z-index: 1;
  &:hover {
    background-color: #000000;
    border: 1px solid #729991;
    color: #ffffff;
  }
}

.titleLeft {
  font-size: 100px;
  font-weight: 700;
  text-align: start;
  line-height: 88px;
  width: 90%;

  @media (width <= 480px) {
    font-size: 40px;
  }
}
