.hero {
    min-height: 100vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(292deg, #e1e2ff 0%, #ddebff 49.33%, #e3fbf9 98.67%);
}

.heroTitle {
    max-width: 15em;
    font-size: calc(6.25rem + ((1vw - 10.24px) * 9.9432));
    font-weight: 700;
    text-align: center;
}

.heroButtons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.heroPrimaryButton,
.heroSecondaryButton {
    padding: 10px 30px;
    font: 16px/1.3 sans-serif;
    border: 1px solid #000;
    border-radius: 100px;
    cursor: pointer;
    white-space: nowrap;
}

.heroPrimaryButton {
    color: #fff;
    background: #000;
    &:hover {
        color: #000;
        background: transparent;
    }
}

.heroSecondaryButton {
    color: #000;
    background: transparent;
    &:hover {
        color: #fff;
        background: #000;
    }
}
