.categoryTitle {
  font-size: 16px;
  line-height: 1.4em;
  padding-bottom: 24px;
  color: #777777;
  text-transform: uppercase;
  margin-bottom: 24px;
  border-bottom: 1px solid #dddddd;
}
.navCategory {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 33.3%;
}
.navigationMegaMenu {
  padding: 0px;
  box-shadow: 0 3px 27px 3px rgb(221, 221, 221);
  opacity: 1;
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 75%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.menuItem {
  display: flex;
  column-gap: 8px;
  font-weight: 700;
  transition: color 0.3s ease, padding-left 0.3s ease;
  font-size: 14px;
  align-items: start;
  flex-direction: row;
  padding: 16px;
  color: #67695f;
}

.menuItem:hover {
  color: #20a75a;
  padding-left: 20px;
  background-color: #f6f6f6;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.iconContainer {
  width: 16px;
  height: 24px;
}

.allMenuItems {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.itemText {
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}
.itemDescription {
  font-weight: 400;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  overflow: visible;
}
.navFeatured {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: #fafafa;
  width: 33.3%;
  border-bottom-right-radius: 12px;
}

.featuredItem {
  padding: 24px;
  transition: padding 0.3s ease;
}

.featuredImg {
  width: 250px;
  border-radius: 12px;
  height: 100%;
  min-width: 150px;
}
.featuredItem:hover {
  padding: 16px;
}
