.pricing {
    background-color: white;
    padding: 24px;
}

.pricingTitle {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.pricingCards {
    display: flex;
    padding: 32px;
    gap: 20px;
    justify-content: center;
    align-items: center;

    @media (width < 1024px) {
        padding: 16px;
    }
    @media (width < 768px) {
        flex-direction: column;
    }
}

.pricingCard {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: box-shadow 0.3s;
    padding: 16px;
    padding-bottom: 32px;
    width: 300px;
}

.pricingPlanOverview {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 12px;
}

.pricingHeaderTitle {
    font-size: 20px;
    font-weight: 500;
}

.pricingHeaderCost {
    font-size: 36px;
    font-weight: 600;
}

.pricingHeaderDescription {
    font-size: 14px;
    text-wrap: pretty;
    text-align: center;
    color: #969696;
    
    @media (width <= 768px) {
        font-size: 24px;
    }
}

.pricingPlanFeatures {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding-left: 0px;
    margin-bottom: 20px;
}

.pricingFeature {
    display: flex;
    font-size: 14px;
    column-gap: 6px;
    align-items: center;
}

.pricingImage {
    width: 20px;
    height: 20px;
}

.pricingButton {
    display: block;
    margin: 0 auto;
    padding: 12px 24px;
    color: white;
    background-color: black;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
}

.pricingButton:hover {
    background-color: #848484;
}

.pricingCard:hover,
.pricingPremium:hover {
    box-shadow: 0 3px 38px rgba(0, 0, 0, 0.3);
}
