.quotesSection {
    font-family: Arial, sans-serif;
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.quotesSectionTitle {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}
.quotesCardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    @media (width <= 1000px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (width <= 480px) {
        grid-template-columns: 1fr;
    }
}
.quoteCard {
    padding: 24px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    gap: 24px;
    background: #fafafa;
    border: 1px solid #cecece;
    align-items: center;
}
.quoteRating {
    display: flex;
    gap: 4px;
}
.ratingStarIcon {
    width: 24px;
    height: 24px;

    @media (width <= 768px) {
        width: 16px;
        height: 16px;
    }
}
.customerImage {
    width: 88px;
    height: 88px;
    object-fit: cover;
    border-radius: 50px;
}
.quotePerson {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
}
.customerDetails {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
}
.customerName {
    font-weight: 600;
    text-align: center;
}
.customerTitle {
    color: #676767;
    font-size: 14px;
}
.quoteText {
    font-size: 20px;
    line-height: 1.3;
    text-wrap: pretty;
    text-align: center;

    @media (width <= 768px) {
        font-size: 16px;
    }
}
