.section {
  padding: 76px;
  background-image: linear-gradient(90deg, #e1e2ff 0%, #e3fbf9 100%);
  display: flex;
  flex-direction: row;
  column-gap: 60px;
  row-gap: 60px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section_content {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  min-width: 300px;
  justify-content: center;
  flex-grow: 1;
}

.section_title {
  font-size: 47px;
  line-height: 1.3em;
  font-weight: 700;
  padding-bottom: 16px;
}

.section_description {
  font-size: 16px;
  line-height: 1.6em;
  padding-bottom: 28px;
}

.card-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 900px;
  width: 64%;
  flex-grow: 1;
}

.card {
  padding: 24px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0.71px 0.71px 20px rgba(0, 0, 0, 0.08);
}

.card_description {
}

.card_title{
  font-size: 20px;
  line-height: 1.5em;
  font-weight: 700;
  padding-bottom: 8px;
}

.card_icon-container {
  width: 100%;
  align-content: center;
  display: flex;
  justify-content: end;
  padding-bottom: 24px;
}

.card_icon {
  width: 32px;
}

.button {
  height: 50px;
  width: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-right: 30px;
  padding-left: 30px;
  border: 1px solid #000000;
  border-radius: 50px;
  &:hover {
    background-color: #000000;
    border: 1px solid #729991;
    color: #ffffff;
  }
}
