.stats {
    padding: 40px;
    background-color: white;
}

.statsHeader {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 40px;
    @media (width < 420px) {
        font-size: 20px;
    }
}

.statsAllStatsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media (width < 1024px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (width < 420px) {
        grid-template-columns: 1fr;
    }
    row-gap: 40px;
    column-gap: 80px;
}

.statsNumber {
    font-size: 36px;
}

.statsTitle {
    font-size: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid #c2c2c2;
    padding-top: 4px;
}

.statsDescription {
    font-size: 14px;
    line-height: 1.6;
    padding-top: 8px;
    text-wrap: pretty;
}
