.teamCards {
    display: flex;
    min-height: 800px;

    @media (width < 1024px) {
        min-height: 500px;
    }
    @media (width < 768px) {
        min-height: 400px;
    }
    @media (width < 480px) {
        min-height: 300px;
        flex-direction: column;
    }
}

.teamCardsCard {
    outline: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.teamCardsCardImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.teamCardsCardContent {
    position: absolute;
    left: 20px;
    bottom: 60px;
    max-width: 70%;
    padding-left: 20px;

    @media (width < 1024px) {
        max-width: 80%;
    }

    @media (width < 768px) {
        bottom: 30px;
        left: 12px;
        padding-left: 10px;
        max-width: 80%;
    }
}

.teamCardsCardTitle {
    color: black;
    font-size: 36px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
    font-weight: 500;
    text-wrap: pretty;

    @media (width < 1024px) {
        font-size: 20px;
    }
    @media (width < 768px) {
        padding-bottom: 12px;
    }
}

.teamCardsCardSubtitle {
    color: black;
    font-size: 18px;
    line-height: 1.6;
    text-wrap: pretty;

    @media (width < 1024px) {
        font-size: 12px;
    }
}
