.root {
    display: flex;
    padding: clamp(3rem, 1rem + 2vw, 1.25rem);
    flex-direction: column;
    align-items: center;
}

.teamCard {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 120px;
    min-width: 460px;
}

.imgBox {
    flex: 1 1 300px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentBox {
    padding: clamp(15px, 3vw, 30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: clamp(10px, 2vw, 4px);
}

.teamTitle {
    font-size: calc(2.5rem + ((1vw - 18px) * 2));
}

.description {
    font-size: clamp(12px, 2vw, 18px);
    line-height: 1.5;
    text-wrap: pretty;
}

.exploreButton {
    padding: clamp(8px, 1.5vw, 12px) clamp(15px, 3vw, 25px);
    background-color: #000000;
    border-radius: 30px;
    font-size: clamp(14px, 2vw, 18px);
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    align-self: flex-start;
    color: #ffffff;
}

.addToCartButton:hover {
    background-color: #848484;
    color: #ffffff;
}
.teams {
    display: flex;
    margin-top: 4vh;
    flex-wrap: wrap;
    max-width: 1920px;
    gap: clamp(2rem, 0.2073rem + 1.4634vw, 1.25rem);
}
.title {
    font-family: Arial, sans-serif;
    font-size: calc(2.5rem + ((1vw - 4px) * 2));
    text-align: center;
    font-weight: 700;
    text-wrap: pretty;
}
